Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@vannguyen2501 
DoThiThuongMai
/
WEB_HIT2022
Public
Code
Issues
Pull requests
Actions
Projects
Security
Insights
WEB_HIT2022/buoi3/layout.css
@DoThiThuongMai
DoThiThuongMai Btvn_b3
Latest commit f976fa2 3 days ago
 History
 1 contributor
119 lines (117 sloc)  2.05 KB

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    background-color: blueviolet;
    border-left: 8px solid grey;
    border-right: 8px solid grey;
    border-top: 8px solid grey;
    width: 100%;
    height: 50px;
}
section{
    display: flex;
    
}
.left{
    width: 60%;
    height: 500px;
    border: 8px solid grey;
}
.tren{
    height: 60%;
    border-bottom: 8px solid grey;
    background-color: aquamarine;
}
.duoi{
    height: 40%;
    background-color: bisque;
    display: flex   ;
}
.duoitrai{
    display: block;
    height: 100%;
    width: 50%;
    border-right:8px solid gray ;
}
.top{
    background-color: brown;
    height: 50%;
    border-bottom: 8px solid gray;
}
.buttom{
    background-color: coral;
    height: 50%;    
}
.duoiphai{
    background-color: blueviolet;
    height: 100%;
    width: 50%;
}
.right{
    width: 40%;
    height: 500px;
}
.tren1{
    display: flex;
    height: 30%;
    border-top: 8px solid grey;
}
.left1{
    background-color: springgreen;
    width: 70%;
    border-right: 8px solid grey;
}
.right1{
    background-color: darkkhaki;
    width: 30%;
    border-right: 8px solid grey;   
}
.giua{
    background-color: yellow;
    width: 100%;
    height: 10%;
    border-bottom: 8px solid grey;
    border-top: 8px solid grey;
    border-right: 8px solid grey;   
}
.content{
    height: 50%;
    width: 100%;
    display: flex;
}
.item1{
    background-color: chartreuse;
    height: 100%;
    width: 33%;
    border-right: 8px solid grey;  
}
.item2{
    background-color:darksalmon;
    height: 100%;
    width: 34%;
    border-right: 8px solid grey;  
}
.item3{
    background-color:tomato;
    height: 100%;
    width: 33%;
    border-right: 8px solid grey;  
}
.cuoi{
    background-color: magenta;
    width: 100%;
    height: 10%;
    border-bottom: 8px solid grey;
    border-top: 8px solid grey;
    border-right: 8px solid grey; 
}
footer{
    background-color: green;
    border-left: 8px solid grey;
    border-right: 8px solid grey;
    border-bottom: 8px solid grey;
    width: 100%;
    height: 50px;
}
