*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right,indigo,crimson,pink);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 28%;
    height: 85%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header{
    width: 100%;
    height: 20px;
    text-align: center;
    color: purple;
    margin: 45px 0px;
    font-family: 'Roboto',sans-serif;
}
.header label{
    font-size: 50px;
}
.content{
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-left: 30px;
}
.content input{
    border: 0;
    margin-left: 10px;
    width: 60%;
    height: 20px;
}
.content hr{
    width: 76%;
}
.content p{
    margin-bottom: 10px;
}
.foget{
    margin-top: 0px;
    margin-left: 60%;
}
.button{
    width: 50%;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right,purple,pink);
    color: white;
    border: 1px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 30px;
    transition: 0.45s;
}
.button:hover{
    background-color: aqua;
    transform: scale(1.2);
    transition: 0.45s;
}
.chu{
    text-align: center;
    margin-top: 40px;
}
.icon{
    text-align: center;
}
.chu2{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}